indexablelistview-lib1/target
indexablelistview-lib2/target
indexablelistview-sample/target

/indexablelistview-sample/indexablelistview-sample.iml
indexablelistview-lib1/target/*.*
indexablelistview-lib2/target/*.*

PinnedSectionListView.java
